*{
    margin: 0;
    padding: 0;
  }
  
  .cabecalho{
    background-color: #c12020;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .cabecalho-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    width: 20%;
  }
  
  .profissao-nome {
    color: #ffffff;
  }

  .descricao-profissao {
    background-image: linear-gradient(#c12020, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
  }

  .descricao-profissao-div {
    width: 30%;
    text-align: center;
  }

  .profissao-texto-um {
    padding: 24px 0;
  }

  .profissao-texto-dois {
    padding: 24px 0;
  }

  .profissao-texto-tres {
    padding: 24px 0;
  }

  .registros-titulo {
    font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-style: italic;  
      color: #c12020;
      padding: 24px 0;
      text-align: center;
  }

  .cursos-descricao-div {
    text-align: center;
  }

  .curso-um {
    padding: 24px 0;
  }

  .curso-dois {
    padding: 24px 0;
  }

  .registro-um {
    padding: 24px 0;
  }
  
  .registro-dois {
    padding: 24px 0;
  }

  .registro-tres {
    padding: 24px 0;
  }

  .registros-div {
    text-align: center;
  }

  .registros-titulo {
    font-family: "Poppins", sans-serif;
  }

  .profissao-nome {
    font-family: "Poppins", sans-serif;
  }

  .link{
    color: #ffffff;
    text-align: left;
  }
  footer{
    background-color: #c12020;
    color: #ffffff;
    text-align: center;
    padding: 10px;
  }